html{
    font-size: 16px;
}

#buttons{
    display:flex;
    width:100vw;
    justify-content: center;
    align-items: center;
    height:20vh;
}

button{
    margin: 40px;
    padding: 10px;
    font-size: 1.2rem;
    border-radius: 15px;
    border: 3px solid;
    transition: 0.09s;
    cursor:pointer;
    background: palegoldenrod;
}

button:hover{
    background-color: #10e24f;
    transform:scale(1.1); 
}

button:active{
    transform:scale(0.9);
}

#container{
    display:flex;
    width: 100vw;
    justify-content: center;
}

#canvas{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 700px;
    border: 3px solid;
}

.box{
    background-color: white;
}